<footer class="max-w-3xl mx-auto">
  <div
    class="inline-block footer-fit flex flex-row justify-center mx-auto border-t border-gray-400"
  >
    <!-- <p class="m-2 text-lg">Mitch Adam &middot; {{ now.Format "2006" }}</p> -->
    <div class="mx-1 my-2">
      <a
        href="https://www.linkedin.com/in/mitchell-adam/"
        title="LinkedIn"
        type="text/html"
        target="_blank"
        ><img src="/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
    <div class="mx-1 my-2">
      <a
        href="https://github.com/mitchadam"
        title="Github"
        type="text/html"
        target="_blank"
        ><img src="/github.svg" alt="Github"
      /></a>
    </div>
    <div class="mx-1 my-2">
      <a
        href="https://twitter.com/mitchelladam_"
        title="Twitter"
        type="text/html"
        target="_blank"
        ><img src="/twitter.svg" alt="Twitter"
      /></a>
    </div>
  </div>
</footer>

<!-- https://feathericons.com/ for the icons -->
