<nav
  aria-label="Site Nav"
  class="max-w-screen-md mx-auto flex items-center justify-between py-4 px-8 lg:px-0"
>
  <a
    href="/"
    class="headerlink inline-flex h-10 items-center justify-center rounded-lg p-5"
  >
    <!-- <div class="text-lg text-white">Mitch Adam</div> -->
    <span class="inline sm:hidden text-sm text-white text-center"
      >Mitch Adam</span
    >
    <span class="hidden sm:inline text-lg text-white text-center"
      >Mitch Adam</span
    >
  </a>

  <ul class="navbar flex items-center gap-2 text-sm font-medium text-gray-500">
    <li class="hidden lg:block">
      <a class="rounded-lg px-3 py-2" href="/">Home</a>
    </li>
    <li><a class="rounded-lg px-3 py-2" href="/principles">Principles</a></li>
    <li><a class="rounded-lg px-3 py-2" href="/books">Books</a></li>

    <li><a class="rounded-lg px-3 py-2" href="/blog">Blog</a></li>
  </ul>
</nav>
