{{ define "main" }}
<article>{{.Content}}</article>
{{ range .Pages }}
<article class="rounded-lg p-0.5 shadow-lg transition hover:shadow-sm mb-5">
  <a href="{{ .Permalink }}" class="text-black no-underline">
    <div class="rounded-lg bg-white p-4 !pt-20 sm:p-6">
      <h3 class="mt-0.5 text-2xl font-medium text-gray-900">
        {{ .Title }}<span
          class="hidden sm:inline text-base text-gray-600 float-right"
          >{{ dateFormat "January 2, 2006" .Date }}</span
        >
        <div class="sm:hidden text-sm font-light text-gray-600 pb-3">
          {{ dateFormat "January 2, 2006" .Date }}
        </div>
        <div class="text-sm font-light text-gray-800 pb-3">{{.Summary}}</div>
      </h3>
      <span class="hidden sm:inline text-xs text-gray-600">
        {{ .ReadingTime }} min read
      </span>
    </div>
  </a>
</article>
{{ end }}{{ end }}
